* text=auto
mods/Cobblemon-fabric-1.7.3+1.21.1.jar filter=lfs diff=lfs merge=lfs -text
mods/Essential_1-3-10-8_fabric_1-21-1.jar filter=lfs diff=lfs merge=lfs -text
resourcepacks/COBBLEVERSE[[:space:]]Soundtrack.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/JigglyRadio.zip filter=lfs diff=lfs merge=lfs -text
resourcepacks/Original[[:space:]]Pokemon[[:space:]]Battle[[:space:]]Music.zip filter=lfs diff=lfs merge=lfs -text
